/* vars */

/* font */
$font-family: 'Roboto Slab', serif;
$font-family-roboto-cond: 'Roboto Condensed', sans-serif;
$font-family-lobster: 'Lobster', cursive;

/* colors */
$white: #fff;
$app-blue-dark: #01449f;; 
$app-blue-light: #0158b2; 
$app-blue-text-dark: #022987; 
$app-blue-text-dark-2: #015ecb; 
$app-blue-text-light: #68faf7;; 
$app-yellow: #ffd442; 
$app-active-red: #c80227;;

/* btns */
$red: #d10303;
$yellow: #ffe400;
$blue: #003778;
$blue-light: #00b5ff;
$green: #5e912d;
