section.footer  
    .footer__actions
        .content-main
            .actions__wrapper
                .footer__help
                    a(href="#") Online помощь 24/7
                //.footer__site
                    a(href="#") Полная версия сайта
    .footer__navigation
        .content-main
            .navigation__wrapper
                section
                    ul.footer__nav
                        li 
                            a(href="#") Лицензия
                        li 
                            a(href="#") Положения и условия
                        li 
                            a(href="#") Бонусная политика
                        li 
                            a(href="#") Контакты 
                        li 
                            a(href="#") Политика конфиденциальности 
                section
                    a(href="#")
                        img(src="img/layouts/footer_curacao.png")   
                .clearfix                             
                                           
    .footer__pay
        .content-main            
            .pay__wrapper
                p Принимаем к оплате:
                ul.pay__list
                    li                          
                        img(src="img/layouts/visa.png")
                    li                          
                        img(src="img/layouts/mastercard.png")
                    li                          
                        img(src="img/layouts/qiwi.png")
                    //li
                        img(src="img/layouts/webmoney.png")
                    li                          
                        img(src="img/layouts/m.png")
                    li                          
                        img(src="img/layouts/pm.png")
                    li                          
                        img(src="img/layouts/yandex.png")
                    //li
                        img(src="img/layouts/liqpay.png")

    .footer__copyright       
        .content-main
            .copyright__wrapper
                p &copy; 2017 VulkanOriginal
            
