header.header--main
    a.open__left-sidebar(href="#leftSidebar" data-uk-offcanvas)
        i
    a.header-logo--small(href="#")
        img(src="img/layouts/header_logo.png")
    a.open__right-sidebar(href="#rightSidebar" data-uk-offcanvas)
        i
    //a.icon-reg(href="#")
        i