section#leftSidebar(class="uk-offcanvas")
    .sidebar(class="uk-offcanvas-bar")
        header.left-sidebar__header
            a(href="#")
                img(src="img/layouts/header_logo.png")
            a.left-collapse
                i
        ul.left-sidebar__nav
            li
                a.nav--games.active(href="#") 
                    span.icon
                    | Игры
            li
                a.nav--bonuses(href="#")
                    span.icon
                    | Бонусы
            li
                a.nav--tournaments(href="#")
                    span.icon
                    | Турниры
            li
                a.nav--vip(href="#")
                    span.icon
                    | VIP 
            li
                a.nav--reg(href="#")
                    span.icon
                    | Регистрация
            li
                a.nav--enter(href="#")
                    span.icon
                    | Вход               