#modalDialog.uk-modal
    .uk-modal-dialog.modal-get-bunus
        a.uk-modal-close.uk-close
        h1.modal-heading.text-blue.uk-text-center
            | У Вас осталось
            span.text-red &nbsp; 100 рублей &nbsp;
            | на бонусном балансе
        p.modal-text.text-grey.uk-text-center
            | Обратите внимание, что сразу после оплаты Ваши старые бонусы будут списаны со счета.
        .modal-single-button
            a.btn.btn--green(href="#") Получить бонус
        .uk-text-center
            a.link.text-blue.uk-modal-close(href="#") Отменить


