doctype html
html(lang="ru-RU")
    head
        include head/head.pug
    body
        include layouts/left_sidebar.pug
        include layouts/page_preloader.pug

        div.user-bar-block
            div.content-main
                span.user-btn-toggle
                    i

                // Активировать

                //div.user-bar-title
                    p 
                        | вам доступны фри-спины
                    p
                        | в игре Book of Ra

                //div.user-bar-btn
                    a.btn.btn--green 
                        | Активировать

                // Играть

                //div.user-bar-title
                    p 
                        | активны 25 фри-спинов
                    p
                        | на игру Book of Ra

                //div.user-bar-btn
                    a.btn.btn--red 
                        | Играть

                // Таймер

                div.user-bar-title
                    p 
                        | следующие 25 фри-спинов
                    p
                        | будут доступны через

                div.user-bar-btn
                    | Счетчик


                        

        diw#wrapper
            .header.header--home.header--no-reg
                include layouts/header.pug
            div.header__content
                a.header__logo
                div.header__banner
                    //img(src="./img/bonus-num.png", alt="", class="header__bannertext")

                    //span.header__bannertext
                        img(src="./img/bonus-num.png", alt="")
                        i

                    div.mask.pseudo
                        a(href="#")
                            img(src="./img/bonus-num.png", alt="")

                    svg.mask__svg
                        mask#mask-firefox
                            image(width="247", height="104", href="./img/bonus-num.png", filter="url(#filter)")

                        filter#filter
                            feFlood(flood-color="white")
                            feComposite(in2="SourceAlpha", operator="in")


                    a(href="#", class="btn header__registration btn--red") Регистрация
                    a(href="#", class="btn header__auth btn--blue") Вход

                    //p.nodep-tooltip
                        | Бездепозитный бонус можно
                        br
                        | активировать в скачиваемом клиенте

            div.contentpage.game--block
                div.contentpage__content
                    div.gameblock__nav(data-uk-slider="{center:true}")
                        div.uk-slider-container
                            ul.uk-slider.uk-grid-width-medium-1-3.uk-grid-width-large-1-4
                                li
                                    a(href="#", class="active") Все игры
                                li
                                    a(href="#") Новые
                                li
                                    a(href="#") Автоматы
                                li
                                    a(href="#") Рулетка
                                li
                                    a(href="#") Видеопокер
                                li
                                    a(href="#") Карты
                                li
                                    a(href="#") Джекпоты
                    
                    div.gameblock__games
                        - for (var i = 0; i < 8; i++)
                            figure.gameblock__game.uk-overlay.uk-ignore
                                img(src="img/game.jpg", alt="", class="uk-overlay-spin")
                                figcaption.uk-overlay-panel.uk-overlay-slide-top
                                    a(href="#", class="gameblock__games-link")
                                        b.gameblock__games-roundbtn.play
                                            i
                                        span Регистрация

                                    div.gameblock__games-title
                                        a(href="#") демо

                        div.clear
                    div.games__all
                        a(href="#", class="btn btn--green") Все игры

            div.jackpots
                div.contentpage__content
                    div.jackpots__title

                    div.jackpots__block
                        div.jackpot.jackpot--red 12354125
                        div.jackpot.jackpot--silver 12354125
                        div.jackpot.jackpot--gold 12354125
                        div.jackpot.jackpot--diamond 12354125

                    a(href="#", class="btn btn--red") Регистрация

            div.startpackage
                div.startpackage__content
                    div.startpackage__banner
                        a(href="#", class="btn header__registration btn--red") Регистрация
                        a(href="#", class="btn header__auth btn--blue") Вход

            div.contentpage.contentpage--seotext
                .contentpage__content
                    .seotext.mCustomScrollbar
                        span.seo-title
                            h1 Онлайн казино Вулкан Оригинал приветствует уважаемых гостей на своём сайте!
                        .text-more
                            .text-more1.float-left
                                p
                                    | Популярность бренда казино Вулкан ORIGINAL охватила огромное количество пользователей, которые отдают предпочтение азартным слотам. На сегодняшний день самая обширная развлекательная сеть во всём мире в своём распоряжении имеет множество различных игровых автоматов. Кроме того, клуб позиционирует себя  наиболее щедрым оператором игровых слотов, поскольку уровень отдачи установлен на уровне 98-99% - все для вашего удовольствия!
                            .text-more1.float-right
                                p
                                    | Не только на всей территории России игровые автоматы Вулкан ORIGINAL завоевали признание у миллионов игроков, но и города Украины, а также некоторые зарубежные города оснащены залами игровых аппаратов. Для того, чтобы воспользоваться услугами официального сайта во всемирной паутине, необходимо всего лишь достигнуть совершеннолетнего возраста - казино Вулкан будет в Вашем распоряжении.
                            .clear
                        p
                            | Азартным игрокам, которые раньше посещали казино Вулкан, хорошо известны главные достоинства высоких стандартов азартных игр. Гостям нашего клуба, которые только мечтают насладиться всей прелестью игровых автоматов, мы готовы изложить основные преимущества азартных слотов Вулкан ORIGINAL, которые отсутствуют у большинства аналогичных казино.
                        span.seo-title
                            h3 Преимущества онлайн казино Вулкан ORIGINAL
                        p
                            | До недавнего времени офлайн предоставлял наименьшее количество возможностей, чем игровые слоты в онлайн, относительно комфортности и удобства посещения казино. Основная часть клиентов игровых аппаратов
                            a(href='/') онлайн Вулкан
                            |  ORIGINAL довольна предоставленной обстановкой, которая наиболее соответствует эффективной игре в популярные игровые слоты. За счёт качественного программного обеспечения, улучшенным условиям пребывания в ORIGINAL, а также снабжения пользователей, наше казино добилось наивысших результатов, которые соответствуют высокому уровню игровых автоматов онлайн.
                        .text-more
                            .text-more1.float-left
                                p
                                    | - Основное достоинство нашего
                                    a(href='/') казино Вулкан ORIGINAL
                                    |  состоит в оперативной выплате выигрышей, что является не частым фактором у других аналогов. Причём, наиболее удобные электронные платёжные системы задействованы для вывода денежных средств.
                                p
                                    | - Пополнить личный игровой счёт, пользователь может, используя различные методы, которые он считает наиболее оптимальными. В отличии от иных онлайн казино, мы учитываем индивидуальность каждого игрока нашего казино Вулкан ORIGINAL.
                                p
                                    | - Оригинальные качества представленных слотов, наряду с традиционностью, не оставят равнодушным ни одного посетителя. Огромный ассортимент игровых автоматов даёт возможность принять участие в игре даже самому требовательному клиенту нашего клуба.
                            .text-more1.float-right
                                p
                                    | - С нашим новым клиентом вы можете играть в любое время и в любом месте! Его установка проста, а работа ускорена за счет отлично продуманного программного решения, не ограничивающего вас ничем. Все, что вам нужно – лишь доступ к интернет и совершенно неважно, какой скорости он будет.
                                p
                                    | - Безопасность состояния личного счёта игрока и полная анонимность его личных данных гарантируется после прохождения простой регистрации.
                                p
                                    | - Наличие оперативной круглосуточной технической поддержки доступно клиентам нашего казино, как в праздничные, так и в выходные дни, исключая всевозможные перерывы.
                                p
                                    | - Наличие щедрого процента, который составляет 98%, при выдачи игровыми аппаратами посетителю, является самым главным достоинством нашего казино Вулкан ORIGINAL.
                            .clear
                        span.seo-title
                            h3 Разнообразие представленных игровых автоматов в онлайн казино Вулкан ORIGINAL
                        .text-more
                            .text-more1.float-left
                                p
                                    | Перед разъяснением процесса регистрации, а также пояснения дальнейших действий в нашем клубе, которые позволят беспрепятственно освоить игровые слоты, игрокам следует ознакомиться с разнообразием представленных на нашем официальном сайте игр Вулкан ORIGINAL.
                                p
                                    | Особой популярностью у большинства игроков пользуются такие известные всем игровые слоты, как Гаминатор (Multi Gaminator), которые являются долгожителями онлайн казино Вулкан. Большой актуальностью пользуется игра Шары, настоящее название которой
                                    a(href='/online-game/lucky-ladys-charm/') Lucky Lady’s Charm
                                    | . Известные "гамики" также достаточно любимы посетителями нашего онлайн казино:
                                    a(href='/online-game/dolphins-pearl/') Dolphins Pearl (Дельфин)
                                    |  и
                                    a(href='/online-game/the-money-game/') Money Game (Баксы)
                                    | .
                                p
                                    | Казино Вулкан предоставляет возможность своим клиентам играть во все представленные игры бесплатно, поэтому отсутствие рисков в нашем клубе, позволяет не только освоить новые игровые аппараты, но и сэкономить большое количество материальных средств.
                                p
                                    | Построение идеальной выигрышной стратегии, понимание всех сильных сторон, а также освоение основных принципов игры в слоты доступны пользователям, не прошедших регистрацию. Казино Вулкан ORIGINAL понимает необходимость ознакомительной версии, ведь именно во время игры на интерес игроки делают собственные выводы и о казино, и о том, какая игра принесет самый весомый доход и поможет максимально отвлечься от будней. Поэтому все опции игровых слотов доступны вам бесплатно. Однако мы рекомендуем пройти регистрацию, чтобы получить свой первый бонус от нашего щедрого казино и начать играть именно с нашим подарком – отличный шанс заработать без вложений!
                            .text-more1.float-right
                                p
                                    | Новый формат игровых автоматов, представленный на нашем официальном сайте Вулкан ORIGINAL, позволяет пользователю самому ощутить превосходство игр, комфортность и доступность перед другими слотами офлайн, а также перед ранней версией казино. Увлекательный реальный мир азартного заведения располагает огромным количеством плюсов.
                                p
                                    | Для входа в наше заведение, Вам предстоит выполнить несколько, совершенно несложных действий. Для этого мы составили краткую экскурсию по основным страницам сайта, чтобы каждый смог быстрее освоить все нюансы нашего игрового клуба.
                                p
                                    | Достаточно лишь произвести несложные действия для того, чтобы очутиться в нашем заведении ВулканORIGINAL. Для освоения всех нюансов клуба онлайн, пользователю следует пройти экскурсию по сайту.
                                p
                                    | Для этого существует два способа. Первый - ввести свои данные в карточке игрока, в которую попадаешь после нажатия на кнопку «Регистрация». Второй способ – использовать существующий аккаунт в одной из любой из известных социальных сетей. Регистрация в онлайн казино Вулкан ORIGINAL является важным действием при посещении нашего клуба впервые. Зарегистрироваться можно двумя способами: нажав на кнопку "Регистрация", осуществить ввод своих данных, воспользуясь карточкой игрока; воспользоваться существующим аккаунтом из социальных сетей, в котором представлены Ваши данные.
                                p
                                    | После регистрации пользователю будет доступна игра на деньги (данное действие необходимо для того, чтобы пополнить игровой счёт). Fun-режим предназначен для бесплатной онлайн игры (данное действие подходит для тех игроков, которые желают только ознакомиться с игровыми автоматами).
                            .clear
                        p
                            | В разделе «
                            a(href='') Игровой Зал
                            | » представлено большое количество разнообразных игровых автоматов. Выбрав игровой слот, следует нажать на иконку, после чего игрок окажется в своей любимой игре онлайн.
                        p
                            | Это всё, что необходимо знать для старта игры в Вулкане. В случае, если у вас что-то не получилось, и вы не смогли завести свой личный кабинет и игровой счёт, обратитесь за помощью в наш отдел технической поддержки.
                        p
                            | Техническая поддержка понадобится игроку в том случае, если игровой счёт или личный кабинет оказались не доступными.
                        p
                            | Для более подробного ознакомления с нашим сайтом, необходимо посетить некоторые разделы, которые предоставят расширенную информацию или ответы на вопросы. Правила клуба представлены в разделе "Правила". На сайте представлено множество клиентских программ, которые заинтересуют любого посетителя казино Вулкан ORIGINAL.



            include layouts/footer.pug