doctype html
html(lang="ru-RU")
    head
        include head/head.pug
    body
        diw#wrapper
            a(href="404.html") 404.html
            br
            a(href="bonuses.html") bonuses.html
            br
            a(href="cash.html") cash.html
            br
            a(href="contacts.html") contacts.html
            br
            a(href="dashboard.html") dashboard.html
            br
            a(href="download.html") download.html
            br
            a(href="enter.html") enter.html
            br
            a(href="game.html") game.html
            br
            a(href="games.html") games.html
            br
            a(href="home.html") home.html
            br
            a(href="payments.html") payments.html
            br
            a(href="profile.html") profile.html
            br
            a(href="profile_bezdep.html") profile_bezdep.html
            br
            a(href="registration.html") registration.html
            br
            a(href="statuses.html") statuses.html
            br
            a(href="terms.html") terms.html
            br
            a(href="tournaments.html") tournaments.html

