doctype html
html(lang="ru-RU")
    head
        include head/head.pug
    body
        include layouts/left_sidebar.pug
        include layouts/right_sidebar.pug
        include layouts/page_preloader.pug
        
        diw#wrapper
            .header
                include layouts/header.pug
            section.header-substrate.header-substrate--linefence
                img(src="img/banner_terms.png")
                .linefence
            div.contentpage.contentpage--graybg
                div.contentpage__content.contentpage--else
                    div.title Положения и условия

                    div.statictext
                        .main-title.title-line
                            span
                            h1 Положения и условия в онлайн казино Вулкан Оригинал
                            span
                        .main-content
                            .title-content 1. Основные положения
                            p(align='justify')
                                font(color='#00f0ff') 1.1
                                |  Регистрируясь на сайте Вулкан Оригинал, Вы подтверждаете, что ознакомились с данными Правилами и обязуетесь их выполнять.
                            p(align='justify')
                                font(color='#00f0ff') 1.2
                                |  Администрация Казино Вулкан Оригинал имеет право вносить изменения в Правила без предварительного уведомления Пользователей. В Ваши обязанности входит периодическая проверка правил и условий. Если Вы не согласны с изменениями, то можете прекратить использование сайта и/или закрыть аккаунт. Дальнейшее использование любой части сайта после публикации новыйх условий автоматически будет рассматриваться как согласие и принятие пересмотренных условий Правил, включая любые дополнения, удаления, замены и другие изменения, относящиеся к использованию услуг Казино.
                            p(align='justify')
                                font(color='#00f0ff') 1.3
                                |  Регистрируясь на сайте, Вы подтверждаете, что достигли совершеннолетия согласно законов Вашей страны и даете личное согласие на азартную игру.
                            p(align='justify')
                                font(color='#00f0ff') 1.4
                                |  Вы обязуетесь указывать в личном профиле достоверные данные. Казино вправе запросить документальное подтверждение личности при необходимости.
                            p(align='justify')
                                font(color='#00f0ff') 1.5
                                |  Принимая Правила, Вы осознаете, что Казино может периодически проводить проверки для подтверждения личности, контактной и платежной информации.
                            p(align='justify')
                                font(color='#00f0ff') 1.6
                                |  Во время проведения проверки может быть ограничена возможность вывода денежных средств с аккаунта.
                            p(align='justify')
                                font(color='#00f0ff') 1.7
                                |  Если какая-либо, предоставленная Вами информация является ложной, неточной или вводящей в заблуждение, то считается, что условия Правил нарушены и Казино имеет право закрыть аккаунт незамедлительно и/или отказать в использовании услуг Веб-сайта в дополнение к любым другим действиям на свое усмотрение.
                            .title-content 2. Регистрация
                            p(align='justify')
                                font(color='#00f0ff') 2.1
                                |  Минимально необходимыми данными, которые нужно указать при регистрации аккаунта, являются: номер мобильного телефона или email и валюта аккаунта. Для возможности использования всего спектра услуг, которые предоставляет Казино, необходимо заполнить все поля во вкладке
                                a.modal-hide-link(href='/profile/') "Мои данные"
                                | .
                            p(align='justify')
                                font(color='#00f0ff') 2.2
                                |  Для подтверждения подлинности информации, указанной в профиле, Казино имеет право запросить документы, подтверждающие личность, а также применить дополнительные требования. Если в силу каких-либо причин Вы не можете предоставить документы, подтверждающие личность, Казино оставляет за собой право приостановить действие аккаунта до тех пор, пока получит документы, или окончательно закрыть аккаунт, если документы так и не были предоставлены.
                            p(align='justify')
                                font(color='#00f0ff') 2.3
                                |  После регистрации аккаунта нельзя изменить валюту аккаунта, имя, фамилию, псевдоним, дату рождения, контакты и часовой пояс.
                            p(align='justify')
                                font(color='#00f0ff') 2.4
                                |  Пользователь обязуется использовать свой аккаунт лично и не имеет права передавать доступ к своему аккаунту третьим лицам.
                            p(align='justify')
                                font(color='#00f0ff') 2.5
                                |  Казино считает, что все действия и транзакции, которые происходят в аккаунте, осознанно совершает владелец аккаунта.
                            p(align='justify')
                                font(color='#00f0ff') 2.6
                                |  Вы должны использовать свой аккаунт лично и не передавать доступ к своему аккаунту третьим лицам. А так же необходимо хранить свои регистрационные данные в месте, недоступном для третьих лиц. При утере пароля для доступа к аккаунту Вы можете воспользоваться сервисом восстановления пароля.
                            p(align='justify')
                                font(color='#00f0ff') 2.7
                                |  Вы обязаны сообщить администрации казино о неправомерном использовании своего аккаунта третьими лицами в кратчайшие сроки любым доступным способом. После Вашего сообщения о неправомерном использовании аккаунта - Казино блокирует аккаунт. За действия, совершенные третьими лицами, до момента блокировки аккаунта Казино ответственности не несет.
                            p(align='justify')
                                font(color='#00f0ff') 2.8
                                |  Вы можете иметь в казино только один игровой аккаунт. Создание нескольких аккаунтов на человека, на семью, на дом, на IP адрес, на компьютер или мобильное устройство, на счет в платежной системе или банковскую карту категорически запрещено.
                            p(align='justify')
                                font(color='#00f0ff') 2.9
                                |  При уличении Пользователя в нарушении п. 2.8 данных Правил казино автоматически и бесповоротно блокирует на аккаунтах Пользователя бонусные предложения или блокирует аккаунт(ы) пользователя без возможности восстановления.
                            .title-content 3. Депозиты и вывод денежных средств
                            p(align='justify')
                                font(color='#00f0ff') 3.1
                                |  Минимальная и максимальная сумма депозита ограничивается минимальной и максимально допустимой суммой согласно выбранному методу оплаты. Подробно эти суммы указаны на странице
                                a.modal-hide-link(href='/payment-methods/') "Методы оплаты"
                                | .
                            p(align='justify')
                                font(color='#00f0ff') 3.2
                                |  При внесении депозита необходимо в точности следовать указаниям, имеющимся в инструкциях и на странице
                                a.modal-hide-link(href='/cash/deposit/') "Касса"
                                | . Игнорирование явных запретов и ограничений, указанных в данном разделе, снимает с казино ответственность за неперечисленные средства.
                            p(align='justify')
                                font(color='#00f0ff') 3.3
                                |  При внесении депозита на странице
                                a.modal-hide-link(href='/cash/deposit/') "Касса"
                                |  нужно указать сумму платежа, способ оплаты и, при желании/доступности, выбрать один из предложенных бонусов. После совершения успешной оплаты сумма депозита будет зачислена на основной баланс (сумма бонуса - на бонусный баланс), на вкладке
                                a.modal-hide-link(href='/cash/history/') "История транзакций"
                                |  будет отображена информация о депозите.
                            p(align='justify')
                                font(color='#00f0ff') 3.4
                                |  При внесении депозита до момента уведомления о успешной оплате не нужно кликать кнопки управления браузера, а именно "Обновить" и "Назад". Это может повлечь за собой сбой в проведении транзакции.
                            p(align='justify')
                                font(color='#00f0ff') 3.5
                                |  Вы можете вносить деньги только со своего счета в ЭПС, банковской карты или телефона. В случае выявления фактов нарушения данного условия все выигрыши могут быть аннулированы. Запрещено внесение депозита третьими лицами: друзьями, родственниками или партнерами.
                            p(align='justify')
                                font(color='#00f0ff') 3.6
                                |  Все входящие и исходящие платежи Казино проводятся через программное обеспечение и счета финансовых партнеров, в связи с этим казино не может гарантировать бессбойного и своевременного проведения платежей.
                            p(align='justify')
                                font(color='#00f0ff') 3.7
                                |  При обнаружении доказанных сбоев в работе программного обеспечения казино и его партнеров администрация вправе списать некорректно начисленные средства, а также обязуется возместить все суммы, некорректно списанные либо не зачисленные, на счета пользователей в течение 7 рабочих дней с момента такого сбоя.
                            p(align='justify')
                                font(color='#00f0ff') 3.8
                                |  Вывод средств производится только с основного баланса аккаунта. Подать заявку на вывод средств Вы можете на странице
                                a.modal-hide-link(href='/cash/deposit/') "Касса"
                                |  на вкладке
                                a.modal-hide-link(href='/cash/withdraw/') "Заказать выплату"
                                | .
                            p(align='justify')
                                font(color='#00f0ff') 3.9
                                |  После подачи заявки на вывод средства списываются с основного баланса для проведения транзакции вывода. Вы можете самостоятельно проверить статус заявки на вывод и, при необходимости, отменить ее. После отмены заявки на вывод средства будут автоматически начислены на основной баланс. Пожалуйста, ознакомьтесь с Правилами Бонусной политики, если заявка на вывод средств подается при наличии на аккаунте активного бонуса.
                            p(align='justify')
                                font(color='#00f0ff') 3.10
                                |  Если Вы обнаружили в своей заявке на вывод неверные реквизиты - необходимо отменить заявку, если она еще не обработана. Вы осознаете, что после обработки заявки на вывод денежные средства будут отправлены на реквизиты, указанные в заявке. Казино не обязано проверять доступность карт, кошельков в ЭПС и номеров телефонов, на которые Вы производите вывод средств, но в случае неправильно указанных реквизитов постарается посодействовать в возврате средств, если это будет возможно.
                            p(align='justify')
                                font(color='#00f0ff') 3.11
                                |  Обработка заявок на вывод средств осуществляются с 10:00 до 19:00. При правильно оформленных заявках и отсутствии дополнительных требований к Пользователю выплаты, как правило, осуществляются в течение 3-х часов после подачи заявки на вывод или в течение 3-х часов после 10:00, если заявка подана после 19:00 (UTC+02:00). Сроки поступления средств на счет в ЭПС/банковскую карту Пользователя могут составлять от 1 до 6 рабочих дней и зависят от способа вывода. Более подробно сроки вывода указаны на странице
                                a.modal-hide-link(href='/payment-methods/') "Методы оплаты"
                                | .
                            p(align='justify')
                                font(color='#00f0ff') 3.12
                                |  В казино существует три статуса заявок на выплату:
                            .floats-block
                                ul
                                    li(align='justify') В обработке - заявка подана пользователем и ожидает обработки;
                                    li(align='justify') Закрыт - заявка обработана, средства отправлены на реквизиты Пользователя;
                                    li(align='justify')
                                        | Отменен - заявка отменена Вами или казино или платежной системой, средства возвращены на Основной баланс аккаунта.
                            p(align='justify')
                                font(color='#00f0ff') 3.13
                                |  Казино выплачивает выигрыш в той валюте и тем платежным методоми на те карты/кошельки, с которых был внесен депозит. Исключением являются случаи, когда осуществить такую транзакцию невозможно по техническим причинам или из-за финансовых ограничений. Окончательный выбор метода, сроков и валюты выплаты производится администрацией казино.
                            p(align='justify')
                                font(color='#00f0ff') 3.14
                                |  Казино не взимает комиссий при внесении депозита и выводе средств. Комиссии могут взиматься банковскими учреждениями и операторами платежных систем, на что администрация казино повлиять не может. Исключениями являются случаи, когда оборот средств (сумма ставок) меньше депозита в тройном размере (реверсивный депозит). В таком случае администрация казино оставляет за собой право взимать комиссию в размере 6-10% от суммы вывода (депозита) для компенсации расходов на проведение платежей.
                            p(align='justify')
                                font(color='#00f0ff') 3.15
                                |  После проведения выплаты Вам может быть отправлено уведомление о проведенной транзакции.
                            p(align='justify')
                                font(color='#00f0ff') 3.16
                                |  Вы полностью осознаете и принимаете тот факт, что игровой счет не является банковским счетом. Следовательно, по отношению к нему не действуют методы страхования, пополнения, гарантии и прочие способы защиты системой страхования вкладов и прочими системами страхования. На денежные средства на основном счету не начисляются проценты.
                            p(align='justify')
                                font(color='#00f0ff') 3.17
                                |  При подаче заявки на вывод средств, казино оставляет за собой право провести верификацию аккаунта для исключения нарушений Правил. Для этого Вам необходимо загрузить документ, удостоверяющий личность, и/или другие требуемые документы в свой профиль.
                            .title-content 4. Программа лояльности:
                            p(align='justify')
                                font(color='#00f0ff') 4.1
                                strong VIP-программа
                            p(align='justify')
                                font(color='#00f0ff') 4.1.1
                                |  VIP-программа - составляющая программы лояльности, которая распространяется на всех пользователей казино с момента размещения первой ставки с основного баланса.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.2
                                |  В казино Vulkan Originals существует 14 статусов. Ниже перечислены статусы и количество CP (Поощрительные очки - Complimentary points, далее "CP"), необходимых для получения статуса.
                            .floats-block
                                ul
                                    li(align='justify') Новичок - 0 СР;
                                    li(align='justify') Любитель - 100 СР
                                    li(align='justify') Опытный - 500 СР;
                                    li(align='justify') Фартовый - 1000 СР;
                                    li(align='justify') Специалист - 5000 СР;
                                    li(align='justify') Мастер - 10000 СР;
                                    li(align='justify') Эксперт - 20000 СР;
                                    li(align='justify') Профи - 40000 СР;
                                    li(align='justify') Гуру - 75000 СР;
                                    li(align='justify') Чемпион - 100000 СР;
                                    li(align='justify') VIP Bronze - 150000 СР;
                                    li(align='justify') VIP Silver - 200000 СР;
                                    li(align='justify') VIP Gold - 300000 СР;
                                    li(align='justify') VIP Platinum - 500000 СР.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.3
                                |  Присвоение нового статуса происходит автоматически сразу после накопления необходимого количества CP.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.4
                                |  Полученный статус сохраняется и не зависит от дальнейшей игровой активности и не может быть понижен.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.5
                                |  Пользователи с VIP-статусом имеют привилегии, описанные в разделе
                                a.modal-hide-link(href='/vip/') VIP
                                | .
                            p(align='justify')
                                font(color='#00f0ff') 4.1.6
                                |  Все со статусом Фартовый и выше получают Cashback (возврат) от проигранных за предыдущий месяц средств.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.7
                                |  Расчет и начисление возврата от проигранных за предыдущий месяц средств производится ежемесячно 1 числа по формуле:
                            p(align='center') (∑BET-∑WIN-∑Бонусов)×X%
                            p(align='justify')
                                | где:
                                br
                                |      ∑BET - сумма всех ставок, совершенных за предыдущий месяц с Основного и Бонусного балансов;
                                br
                                |      ∑WIN - сумма всех выигрышей, полученных за предыдущий месяц с Основного и Бонусного балансов;
                                br
                                |      ∑Бонусов - сумма бонусов, которая была зачислена на бонусный баланс в казино Vulkan Originals за предыдущий месяц. К примеру, Вы взяли бонус На первый депозит 100% внеся депозит 1000 рублей, тогда сумма бонуса составит 1000 рублей;
                                br
                                |      X - процент возврата, приведен для каждого статуса в таблице п. 4.1.9.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.8
                                |  После зачисления возврата в любой момент в течение текущего месяца Вы можете им воспользоваться, т.е. получить начисленный Cashback на бонусный баланс.
                                br
                                |      Например: пользователь со статусом VIP Bronze в марте 2017 года совершил ставок на общую сумму 40000 рублей, выигрышей получил на общую сумму 25000 рублей, а сумма активированных бонусов составила 1000 рублей, тогда Cashback за март 2017 года составит: (40000-25000-1000)×8% = 1120. Пользователь сможет воспользоваться им в течение апреля 2017 года.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.9
                                |  Cashback подлежит отыгрышу с вейджером, указанным в таблице ниже.
                            .floats-block
                                table
                                    tbody
                                        tr
                                            th Статус
                                            th Х,%
                                            th Вейджер
                                        tr
                                            td Новичок
                                            td не начисляется
                                            td не начисляется
                                        tr
                                            td Любитель
                                            td не начисляется
                                            td не начисляется
                                        tr
                                            td Опытный
                                            td не начисляется
                                            td не начисляется
                                        tr
                                            td Фартовый
                                            td 1
                                            td 10
                                        tr
                                            td Специалист
                                            td 2
                                            td 10
                                        tr
                                            td Мастер
                                            td 3
                                            td 9
                                        tr
                                            td Эксперт
                                            td 4
                                            td 9
                                        tr
                                            td Профи
                                            td 5
                                            td 8
                                        tr
                                            td Гуру
                                            td 6
                                            td 8
                                        tr
                                            td Чемпион
                                            td 7
                                            td 7
                                        tr
                                            td VIP Bronze
                                            td 8
                                            td 7
                                        tr
                                            td VIP Silver
                                            td 9
                                            td 6
                                        tr
                                            td VIP Gold
                                            td 10
                                            td 6
                                        tr
                                            td VIP Platinum
                                            td 11
                                            td 5
                            p(align='justify')
                                font(color='#00f0ff') 4.1.10
                                |  В случае, когда ∑WIN+∑Бонусов больше ∑BET, начисление Cashback не производится.
                            p(align='justify')
                                font(color='#00f0ff') 4.1.11
                                |  Cashback за прошлый месяц будет аннулирован, если в течение текущего месяца Вы им не воспользуетесь, т. е. не перечислите Cashback на бонусный баланс нажав кнопку «Получить».
                            p(align='justify')
                                font(color='#00f0ff') 4.2
                                strong  Поощрительные очки (СР):
                            p(align='justify')
                                font(color='#00f0ff') 4.2.1
                                |  Поощрительные очки (Complimentary points, далее - CP) – составляющая программы лояльности казино, которая распространяется на всех пользователей казино с момента размещения первой ставки с основного баланса.
                            p(align='justify')
                                font(color='#00f0ff') 4.2.2
                                |  За ставки, совершенные с основного баланса, Вам на специальный счет начисляются CP.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.3
                            |  За ставки, совершенные с бонусного баланса, CP не начисляются.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.4
                            |  Количество ставок, необходимое для получения 1 CP, зависит от типа игры и указано в таблице ниже:
                        .floats-block
                            table
                                tbody
                                    tr
                                        th(rowspan='2') Тип игры
                                        th(colspan='3') Валюта аккаунта
                                    tr
                                        td UAH
                                        td RUB
                                        td USD
                                    tr
                                        td Обычные слоты
                                        td 100
                                        td 300
                                        td 4
                                    tr
                                        td
                                            | Bananas, Beetle Mania, Bee Wild, Crazy scientist, Falcon Spirit, Gold Rush, Lucky Mobsters, Olympians, Totally Wild, Venetian Carnival, Viking
                                        td 200
                                        td 600
                                        td 8
                                    tr
                                        td
                                            | Рулетки, баккара, блэкджек, покер, видеопокер, кено, Heart of Cleopatra, Columbus Adventures
                                        td СР не начисляются
                                        td СР не начисляются
                                        td СР не начисляются
                        p(align='justify')
                            | Например: при игре на слотах для получения 1 СР необходимо сделать ставок на сумму 300 RUB, а при игре в видеопокер для получения 1 СР необходимо сделать ставок на сумму 600 RUB.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.5
                            |  Помимо накопления за ставки с основного баланса, СР могут быть начислены в качестве награды за победу в турнире, квесте и т.п.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.6
                            |  Начисленные в качестве награды за победу в турнире, квесте и т.п., СР не влияют на изменение статуса.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.7
                            |  Вы может получать увеличенное количество СР за ставки в рамках рекламной или промо-акции казино. Перечень игр, даты и другие подробные условия проведения таких акций будут анонсироваться посредством email и/или SMS.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.8
                            |  При желании, Вы можете обменять накопленные/начисленные СР на реальные деньги, которые при обмене будут зачислены на основной баланс.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.9
                            |  Количество доступных для обмена СР отображается в
                            a.modal-hide-link(href='/profile/dashboard/') Dashboard
                            | .
                        p(align='justify')
                            font(color='#00f0ff') 4.2.10
                            |  Курс обмена 100 СР на реальные деньги зависит от статуса пользователя и указан в таблице ниже:
                        .floats-block
                            table
                                tbody
                                    tr
                                        th(rowspan='2') Статус
                                        th(colspan='3') Валюта аккаунта
                                    tr
                                        td RUB
                                        td UAH
                                        td USD
                                    tr
                                        td Новичок
                                        td 8
                                        td 3,2
                                        td 0,16
                                    tr
                                        td Любитель
                                        td 10
                                        td 4
                                        td 0,2
                                    tr
                                        td Опытный
                                        td 12
                                        td 4,8
                                        td 0,24
                                    tr
                                        td Фартовый
                                        td 14
                                        td 5,6
                                        td 0,28
                                    tr
                                        td Специалист
                                        td 17
                                        td 6,8
                                        td 0,34
                                    tr
                                        td Мастер
                                        td 20
                                        td 8
                                        td 0,4
                                    tr
                                        td Эксперт
                                        td 23
                                        td 9,2
                                        td 0,46
                                    tr
                                        td Профи
                                        td 27
                                        td 10,8
                                        td 0,54
                                    tr
                                        td Гуру
                                        td 30
                                        td 12
                                        td 0,6
                                    tr
                                        td Чемпион
                                        td 35
                                        td 14
                                        td 0,7
                                    tr
                                        td VIP Bronze
                                        td 40
                                        td 16
                                        td 0,8
                                    tr
                                        td VIP Silver
                                        td 50
                                        td 20
                                        td 1
                                    tr
                                        td VIP Gold
                                        td 75
                                        td 30
                                        td 1,5
                                    tr
                                        td VIP Platinum
                                        td 100
                                        td 40
                                        td 2
                        p(align='justify')
                            font(color='#00f0ff') 4.2.11
                            |  Минимально-допустимое количество CP для обмена – 10.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.12
                            |  Казино оставляет за собой право удалить со аккаунта все накопленные/начисленные CP, неиспользованные в течение 3-х или более месяцев с момента их получения.
                        p(align='justify')
                            font(color='#00f0ff') 4.2.13
                            |  В случае если казино посчитает, что Вы злоупотребляете или пытаетесь злоупотребить CP или другими поощрениями, или злоупотребить отсутствием необходимой информации в данных условиях, казино оставляет за собой право запретить, удержать или отказаться от выплат СР или другого поощрения, временно или постоянно, или заблокировать доступ к услугам и/или блокировать счет.
                        .title-content 5. Бонусная политика
                        p(align='justify')
                            font(color='#00f0ff') 5.1
                            strong  Общие правила:
                        p(align='justify')
                            font(color='#00f0ff') 5.1.1
                            |  Данный раздел содержит общие правила и условия участия в бонусных предложениях. Однако каждое бонусное предложение может иметь дополнительные правила и условия, с которыми Вы можете ознакомится на промо-странице соответствующего бонуса или акции.
                        p(align='justify')
                            font(color='#00f0ff') 5.1.2
                            |  Бонусы (бонусные деньги) предлагаются Вам исключительно по усмотрению казино. Все Бонусы имеют только одну цель – продлить процесс игры, предоставляя дополнительные кредиты в казино.
                        p(align='justify')
                            font(color='#00f0ff') 5.1.3
                            |  Казино не навязывает Вам участие в акциях и бонусных предложениях, каждый добровольно участвует в них и может отказываться от участия в любой момент.
                        p(align='justify')
                            font(color='#00f0ff') 5.1.4
                            |  Казино оставляет за собой право прекращать или отменять текущие акции, турниры и бонусные предложения без предварительного предупреждения.
                        p(align='justify')
                            font(color='#00f0ff') 5.1.5
                            |   Внося средства на счет с использованием того или иного бонусного предложения либо акции, Вы, тем самым, подтверждаете, что ознакомились и принимаете полностью и безоговорочно условия данного бонусного предложения или акции.
                        p(align='justify')
                            font(color='#00f0ff') 5.2
                            strong  Статусы бонусов:
                        p(align='justify')
                            font(color='#00f0ff') 5.2.1
                            |  Существует три статуса для каждого бонуса:
                        .floats-block
                            ul
                                li(align='justify')
                                    | Активный – бонус зачислен на бонусный баланс, но его отыгрыш еще не выполнен. Вы не можете выводить бонусные средства и/или любые выигрыши.
                                li(align='justify')
                                    | Отыгран – бонус, для которого выполнены условия отыгрыша. Сумма средств с бонусного баланса переведена на основной баланс и может быть выведена в любой момент.
                                li(align='justify')
                                    | Отменен - бонус может быть отменен и удален с бонусного баланса, если Вы: не выполнили условия отыгрыша; подали заявку на вывод средств с основного баланса до момента выполнения условий отыгрыша; нарушили данные Правила или cамостоятельно отменили бонус.
                        p(align='justify')
                            font(color='#00f0ff') 5.3
                            strong Основные правила:
                        p(align='justify')
                            font(color='#00f0ff') 5.3.1
                            |  На одном аккаунте может быть только один активный бонус.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.2
                            |  При получении Бонуса сумма бонуса зачисляется на Бонусный баланс аккаунта и хранится отдельно от Основного баланса.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.3
                            |  При совершении ставки в игре ее размер списывается с Основного баланса. В случае, когда на Основном балансе недостаточно средств для совершения ставки, ее размер списывается с Бонусного баланса.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.4
                            |  Все выигрыши при наличии активного бонуса независимо от того, с какого баланса была совершена ставка, зачисляются на Бонусный баланс аккаунта.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.5
                            |  Бонус и выигрыши не могут быть выведены, пока не будут выполнены условия отыгрыша бонуса.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.6
                            |  После отыгрыша бонуса средства с Бонусного баланса автоматически перечисляются на Основной баланс и могут быть выведены в любой момент.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.7
                            |  В некоторых бонусных предложениях может быть ограничена сумма выигрыша. После отыгрыша такого бонуса максимально-допустимая сумма выигрыша перечисляется с Бонусного баланса на Основной, а остаток средств списывается с Бонусного баланса.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.8
                            |   Некоторое ставки могут не учитываться (или частично учитываться) при отыгрыше бонуса. Если бонус в игре не отыгрывается после загрузки игры будет уведомление об этом. В таких играх ставки списываются, а выигрыши зачисляются на основной баланс, бонусный баланс не доступен для совершения ставок.
                        p(align='justify')
                            font(color='#00f0ff') 5.3.9
                            |  В случае, когда бонусный баланс меньше 1 RUB / 0.5 UAH / 0.1 USD по любой из причин, активный бонус прекращает свое действие и больше не является предметом отыгрыша.
                        p(align='justify')
                            font(color='#00f0ff') 5.4
                            strong Отыгрыш бонуса
                        p(align='justify')
                            font(color='#00f0ff') 5.4.1
                            |  Отыгрыш бонуса - сумма ставок, которую необходимо совершить для перевода бонуса и выигрышей с бонусного на основной баланс.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.2
                            |   Отыгрыш бонуса представляется в виде множителя (Вейджера) к сумме бонуса и совершенного депозита. Вейджер 20 означает, что сумма Депозит+Бонус должна быть поставлена не менее 20 раз. Например, если Вы внесете депозит на сумму 100 у.е. и получите бонус 100% в размере 100 у.е., то для отыгрыша необходимо совершить ставок на сумму (100+100)*20=4000 у.е. После выполнения этих требований средства с бонусного баланса будут автоматически перечислены на основной баланс аккаунта.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.3
                            |  Вы можете контролировать и в любой момент проверить состояние отыгрыша бонуса на прогресс-баре в окне с игрой или на вкладке
                            a.modal-hide-link(href='/profile/dashboard/') Dashboard
                            |  Вашего Профиля.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.4
                            |  Вы можете пополнять основной баланс для отыгрыша бонуса путем внесения депозитов.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.5
                            |  Не во всех играх казино учитывается полный размер ставки при отыгрыше бонуса. В некоторых играх бонус не может быть отыгран (производители Igrosoft, Tom Horn, IGT, Netent).
                        .floats-block
                            ul
                                li(align='justify') 100% ставки учитывается в обычных слот-играх;
                                li(align='justify')
                                    | 50% в слотах: Bananas, Beetle Mania, Bee Wild, Crazy scientist, Falcon Spirit, Gold Rush, Lucky Mobsters, Olympians, Totally Wild, Venetian Carnival, Viking;
                                li(align='justify')
                                    | 0% - рулетки, баккара, блэкджек, покер, видеопокер, кено, слоты Heart of Cleopatra и Columbus Adventures.
                        p(align='justify')
                            | Данные значения могут меняться время от времени, поэтому, пожалуйста, проконсультируйтесь со службой поддержки в каждом из случаев, чтобы узнать актуальные значения учета ставок для конкретной игры.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.6
                            |  Бонус можно отыграть только в режиме игры на деньги. Ставки в играх в демо-режиме не учитываются.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.7
                            |  Для защиты от хай-риск отыгрыша бонуса казино оставляет за собой право ограничивать для каждого бонуса общий размер ставки, идущей в отыгрыш бонуса. Ставки, превышающие заданное ограничение, не будут учитываться в отыгрыш бонуса. Ограничение ставки будет указано на странице с описанием бонуса, пожалуйста, внимательно читайте правила для каждого бонуса.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.8
                            |  В дополнение к пункту 5.4.7 мы оставляем за собой право отменять выигрыши, полученные с использованием бонусных средств в случае, когда отношение ставки к Общему балансу пользователя на момент совершения такой ставки составляет более 10%. Например: если на Вашем балансе находится сумма 200 RUB и Вы совершаете ставку больше 20 RUB, мы считаем, что Вы нарушает данные правила и оставляем за собой право списать все выигрышы, полученные с использованием данного бонуса.
                        p(align='justify')
                            font(color='#00f0ff') 5.4.9
                            |  При получении Вами выигрыша от любого бонуса в размере, превышающем 350 тысяч рублей, казино оставляет за собой право ограничить выигрыш суммой 350 тысяч рублей
                        p(align='justify')
                            font(color='#00f0ff') 5.4.10
                            |  Мы оставляем за собой право приостанавливать, отзывать или отменять любые выплаты или выигрыши, связанные с бонусными предложениями при подозрении, что Вы пытаетесь ими злоупотреблять или используете стратегии с целью гарантированного заработка с использованием бонусных предложений.
                        p(align='justify')
                            font(color='#00f0ff') 5.5
                            strong Вывод средств при активном бонусе
                        p(align='justify')
                            font(color='#00f0ff') 5.5.1
                            |  Как указывалось ранее в п.п.5.3.2, после отыгрыша бонуса средства с Бонусного баланса автоматически перечисляются на Основной баланс и могут быть выведены в любой момент.
                        p(align='justify')
                            font(color='#00f0ff') 5.5.2
                            |  Средства с бонусного баланса не могут быть обналичены (пока Вы не отыграете бонус).
                        p(align='justify')
                            font(color='#00f0ff') 5.5.3
                            |  Вы можете выводить любые суммы с основного баланса, однако при подаче заявки на вывод средств до отыгрыша активного бонуса Вы теряете все бонусы и выигрыши, т.е. бонусный баланс обнуляется.
                        p(align='justify')
                            i
                                font(color='#00f0ff')
                                    | Обратите внимание! Бонусный баланс обнуляется в момент подачи заявки на вывод. В случае, если заявка на вывод будет отменена Вами или администратором, Бонусный баланс не будет восстановлен!
                        p(align='justify')
                            font(color='#00f0ff') 5.6
                            strong Злоупотребление Бонусами
                        p(align='justify')
                            font(color='#00f0ff') 5.6.1
                            |  Администрация казино может отказать в участии в акциях, турнирах и бонусных предложениях без объяснения причин. Как правило, это происходит, но не исчерпывается при нарушении Правил.
                        p(align='justify')
                            font(color='#00f0ff') 5.6.2
                            |  Использование бонусов казино с целью обогащения является злоупотреблением
                        p(align='justify')
                            font(color='#00f0ff') 5.6.3
                            |  Если бонус/промо-код предоставлен лично Вам, то промо-код для активации бонуса действителен исключительно для Вас. Запрещено передавать промо-коды другим лицам.
                        p(align='justify')
                            font(color='#00f0ff') 5.6.4
                            |  Пожалуйста, примите во внимание, что при регистрации аккаунта должен быть указан настоящий номер телефона. Если с Вами не получится связаться, это может послужить причиной ограничения использования бонусов, а также блокировки аккаунта.
                        .title-content 6. Турниры
                        p(align='justify')
                            font(color='#00f0ff') 6.1
                            |  В казино проводятся тематические турниры по сумме ставок с 5-10 призовыми местами.
                        p(align='justify')
                            font(color='#00f0ff') 6.2
                            |  Время проведения, минимальная ставка для участия, турнирные игры, количество призовых мест, размер призового фонда и награды победителям для каждого турнира объявляются в информационном сообщении/email/SMS и/или на странице турнира.
                        p(align='justify')
                            font(color='#00f0ff') 6.3
                            |  Пользователь автоматически является участником турнира, если выполняет все перечисленные ниже условия, делая ставки:
                        .floats-block
                            ul
                                li(align='justify') В режиме игры на деньги (не демо режим);
                                li(align='justify') Во время проведения турнира;
                                li(align='justify') В турнирной игре;
                                li(align='justify') Больше минимальной ставки для участия в турнире.
                        p(align='justify')
                            font(color='#00f0ff') 6.4
                            |  Место в турнирной таблице определяется автоматически согласно сумме ставок. Для получения актуальных данных в турнирной таблице необходимо обновить страницу турнира.
                        p(align='justify')
                            font(color='#00f0ff') 6.5
                            |  Начисление призовых CP происходит на следующий рабочий день после завершения турнира.
                        .title-content
                            | 7. Сговор, действия, вводящие в заблуждение, мошенничество и криминальная деятельность
                        p(align='justify')
                            font(color='#00f0ff') 7.1
                            |  Следующие виды деятельности строго запрещены, совершение подобных действий будет расценено как прямое нарушение Правил:
                        .floats-block
                            ul
                                li(align='justify') Передача информации третьей стороне;
                                li(align='justify')
                                    | Незаконные действия: мошенничество, использование вредоносных программ, ботов и ошибок в программном обеспечении Веб-сайта;
                                li(align='justify')
                                    | Мошеннические действия, представляющие собой использование украденных, клонированных или полученных иным незаконным путем данных банковской карты для пополнения баланса;
                                li(align='justify')
                                    | Участие в преступной деятельности, отмывании денег и иных видах деятельности, участие в которых может повлечь за собой уголовно-правовую ответственность;
                                li(align='justify')
                                    | Вступление, попытка вступления или намерение принять участие в преступном сговоре с другими во время игры на Веб-сайте.
                        p(align='justify')
                            font(color='#00f0ff') 7.2
                            |  Казино имеет право приостанавливать, отменять или отзывать выплаты или выигрыши, связанные с бонусными средствами в том случае, если появится подозрение в том, что Вы намеренно злоупотребляет ими.
                        p(align='justify')
                            font(color='#00f0ff') 7.3
                            |  Казино примет все допустимые и разрешенные законом способы для исключения и выявления мошеннических сговоров и их непосредственных участников; против этих лиц в обязательном порядке будут приняты соответствующие меры. Мы не несем ответственности за потери и ущерб, полученный пользователями в результате мошеннических действий. В подобных случаях всякие адекватные действия остаются на усмотрение казино.
                        p(align='justify')
                            font(color='#00f0ff') 7.4
                            |  Вы обязаны незамедлительно известить казино, если у вас возникнут подозрения относительно того, что какой-либо человек находится в сговоре или осуществляет мошеннические действия. Связаться можно посредством электронной почты
                            a.modal-hide-link(href='mailto:support@vulkanoriginal.com') support@vulkanoriginal.com
                            | .
                        p(align='justify')
                            font(color='#00f0ff') 7.5
                            |  У казино есть право без предварительного уведомления запретить пользователям доступ к сайту и заблокировать их аккаунты, в том случае если они будут заподозрены в мошеннической деятельности. В таких случаях казино не несет ответственности по возврату и компенсации денежных средств, имеющихся на балансах таких пользователей. Кроме того, у казино есть право известить о незаконной деятельности правоохранительные органы. Пользователи обязаны всецело сотрудничать при расследовании подобных случаев.
                        p(align='justify')
                            font(color='#00f0ff') 7.6
                            |  Вам запрещено использовать услуги и программное обеспечение сайта для совершения любых мошеннических, незаконных действий и транзакций в соответствии с законодательством конкретной юрисдикции. Если будет установлен или выявлен факт совершения подобных действий, то казино может приостановить или заблокировать счет и удержать средства, имеющиеся на нем. В таких случаях у Вас нет права предъявлять казино какие-либо претензии.
                        p(align='justify')
                            font(color='#00f0ff') 7.7
                            |  Регистрация аккаунта в Казино для игры на реальные деньги сотрудниками казино, участниками партнерских программ, их близкими и родственниками категорически запрещена и рассматривается администрацией как мошенничество. В случае обнаружения в казино такого аккаунта блокируется как аккаунт в казино, так и аккаунт в партнерской программе.
                        p(align='justify')
                            font(color='#00f0ff') 7.8
                            |  Казино имеет право блокировать аккаунт, а также аннулировать выплаты и депозиты в случае возникновения подозрений о пополнении счета мошенническим способом. Казино имеет право известить соответствующие органы о мошеннических действиях с платежами и незаконной деятельности.
                        .title-content 8. Другие запрещенные действия на сайте
                        p(align='justify')
                            font(color='#00f0ff') 8.1
                            |  На сайте запрещено общаться в агрессивной или оскорбительной манере, использовать ненормативную лексику, угрозы и применять любые насильственные действия по отношению к сотрудникам и другим пользователям сайта.
                        p(align='justify')
                            font(color='#00f0ff') 8.2
                            |  На сайт запрещено загружать информацию в объеме, способном вызвать сбои в работе сайта и осуществлять какие-либо другие действия, которые могут повлиять на работу ресурса. В данном случае имеются в виду вирусы вредоносные программы, массовая рассылка и спам – все перечисленное строго запрещено. Кроме того, пользователям запрещено удалять, изменять и редактировать информацию, размещенную на сайте.
                        p(align='justify')
                            font(color='#00f0ff') 8.3
                            |  Вы можете пользоваться сайтом исключительно в развлекательных целях. Запрещено копировать сайт целиком или какую-либо его отдельную часть без письменного согласия от казино.
                        p(align='justify')
                            font(color='#00f0ff') 8.4
                            |  Все пользователи обязуются не совершать действия, направленные на взлом системы безопасности Веб-сайта, на получение незаконного доступа к закрытым данным или на DDoS-атаки. По отношению к пользователям, заподозренным в нарушении данного правила, будут применены соответствующие меры: полный запрет на доступ к сайту и блокировка счета. Кроме того, казино имеет право оповестить ответственные органы о незаконных действия.
                        p(align='justify')
                            font(color='#00f0ff') 8.5
                            |  Казино не несет ответственности за потери и убытки, которые могут понести наши пользователи или третья сторона вследствие технических сбоев, спровоцированных вирусными атаками или другими вредоносными действиями, направленными на сайт.
                        .title-content 9. Срок действия и аннулирование договора
                        p(align='justify')
                            font(color='#00f0ff') 9.1
                            |  Вы можете в любой момент прекратить действие своего аккаунта (удалить логин и пароль), отправив соответствующее письмо с просьбой об удалении аккаунта на почту
                            a.modal-hide-link(href='mailto:support@vulkanoriginal.com') support@vulkanoriginal.com
                            | .
                        p(align='justify')
                            font(color='#00f0ff') 9.2
                            |  До тех пор пока Вы не получите сообщение, подтверждающее факт закрытия счета, на Вас лежит ответственность за любые операции со счетом с момента отправки запроса и до его выполнения.
                        p(align='justify')
                            font(color='#00f0ff') 9.3
                            |  В случае аннулирования аккаунта ни одна сторона не имеет никаких обязательств по отношению к другой.
                        .title-content 10. Ошибки и недочеты
                        p(align='justify')
                            font(color='#00f0ff') 10.1
                            |  У казино есть право ограничивать или отменять любые ставки.
                        p(align='justify')
                            font(color='#00f0ff') 10.2
                            |  Если Вы использовали денежные средства, поступившие на Ваш счет в результате ошибки или сбоя работы сайта или игровых клиентов, при размещении ставок и участии в игре, казино может аннулировать подобные ставки и любые выигрыши, полученные с их помощью. Если по таким ставкам была произведена выплата денежных средств, то данные суммы следует считать переданными Вам в доверительное управление, Вы обязаны возвратить их казино по первому требованию.
                        p(align='justify')
                            font(color='#00f0ff') 10.3
                            |  Казино, его дистрибьюторы, филиалы, лицензиаты, дочерние предприятия, а также сотрудники и руководители не несут ответственности за любые убытки и ущерб, возникший по причине перехвата или неправильного использования информации, передаваемой через Интернет.
                        p(align='justify')
                            font(color='#00f0ff') 10.4
                            |  Если в процессе игры произойдет сбой в работе сайта, казино постарается исправить ситуацию в кратчайшие сроки. Казино не несет ответственности за неполадки средств информационных технологий, возникшие в результате работы оборудования, используемого Вами для доступа к сайту, а также за сбои в работе интернет-провайдеров.




            include layouts/footer.pug