.uk-slidenav.flip-arrow {
  width: 22px;
  height: 44px;
  background-image: url("../img/flip_arrows_sprite.png") ;
  background-repeat: no-repeat;
  position: absolute;
  top: 55%;
}

.uk-slidenav-previous.flip-arrow {
  left: -1px;
  background-position: 0 0;
}
.uk-slidenav-next.flip-arrow {
  right: 0;
  background-position: -26px 0;
}

