.contentpage--seotext {
  background: $app-blue-light;
}

.seotext {
  height: 160px;
  padding: 22px 5px 22px 14px;

  .seo-title, h1, h2, h3 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    display: block;
    line-height: 20px;
  }

  h1 {
    font-size: 17px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 15px;
  }

  .seo-title {
    h1, h2, h3 {
      font-family: inherit;
      font-weight: inherit;
      color: inherit;
      margin-bottom: 0;
    }
  }

  a {
    color: $app-blue-text-light !important;
    text-decoration: none;
    cursor: pointer;

    &:before, &:before {
      content: " ";
    }
  }

  p {
    font-size: 12px;
    margin: 0 0 10px 0;
    color: #fff;
  }

  .text-more .text-more1.float-left {
    //width: 320px;
    //float: left;
  }

  .text-more .text-more1.float-right {
    //width: 320px;
    //float: right;
  }

  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ffd442;
    width: 2px;
  }
}
